button {
  display: block;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0 40px 0px 0px;
  position: relative;
  width: 25px;
  z-index: 56;
}

span {
  background-color: #fff;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: background 0.3s;
  transform: translate(-50%, -50%);
  width: 25px;
}

span:before,
span:after {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
}

span:before {
  top: -6px;
}

span:after {
  bottom: -6px;
}
@media (min-width: 1024px) {
  button {
    display: none;
  }
}
